.rating {
    font-family: Montserrat-SemiBold;
    display: flex;
    align-items: flex-end;
}

.rating_img {
    width: 18px;
    height: 24px;
}

.max {
    width: 36px;
    height: 48px;
    font-size: 43px;
    margin-left: 18px;
    line-height: 52px;
}

.min {
    width: 18px;
    height: 24px;
    font-size: 23px;
    margin-left: 10px;
}


@media (max-width: 1640px) {
    .rating {
        display: flex;
        align-items: center;
        font-size: 18px;
        justify-content: flex-end;
    }

    .rating_img {
        width: 16px;
    }
}

