.right-sidebar{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 320px;
    margin-left: 20px;
    font-family: 'Montserrat-SemiBold';
}

.user_block{
    display: flex;
    align-items: center;
    margin-top: 55px;
    cursor: pointer;
}

.user_img{
    margin-right: 18px;
}

.user_scroll-down{
    margin-left: 17px;
}

.sidebar_geo-nav{
    margin-top: 75px;
}

.sidebar_select + .sidebar_select{
    margin-top: 59px;
}
