.institute_title{
    font-family: Montserrat-Bold;
    font-size: 58px;
    margin-top: 150px;
}

.institute_subtitle{
    font-family: Montserrat-Bold;
    margin-bottom: 42px;
    font-size: 35px;
}

