.markerPage_title{
    font-family: Montserrat-Bold;
    font-size: 58px;
    margin-top: 150px;
    margin-bottom: 26px;

}

.markerPage_subtitle {
    font-size: 24px;
    font-weight: normal;
    opacity: 0.5;
    margin-bottom: 74px;
}