.profileCard {
    text-align: center;
    width: 1140px;
    background-color: white;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 4px 30px rgba(9, 75, 157, 0.1);
}

.profileCard_avatar {
    width: 214px;
    height: 214px;
    margin-bottom: 42px;
}

.profileCard_username {
    font-family: Montserrat-Bold;
    font-size: 32px;
}

.profileCardEdit_input {
    margin-top: 45px;
}


.profileCardEdit_buttons {
    margin-top: 50px;
}

.profileCardEdit_button + .profileCardEdit_button {
    margin-left: 50px;
}
