.partPerson {
    display: flex;
    width: 1140px;
    height: 306px;
    background-color: white;
    border-radius: 20px;
    padding: 46px 52px 46px 50px;
}

.partPerson-info_name {
    display: flex;
    justify-content: space-between;
}

.partPerson_name {
    font-size: 32px;
}