@font-face {
    font-family: 'Gotham Pro';
    src: local('GothamPro'),
    url('./fonts/GothamPro.ttf') format('truetype');
}

html {
    box-sizing: border-box;
    height: 100%;
}

body{
    height: inherit;
    font-family: 'Gotham Pro', sans-serif;
    background-color: #F3F7FF;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.link{
    text-decoration: none;
    color: inherit;
}

