@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat-Regular'),
    url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: local('Montserrat-SemiBold'),
    url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

html {
    box-sizing: border-box;
    height: 100%;
}

body{
    height: inherit;
    font-family: 'Montserrat-Regular', sans-serif;
    background-color: #F3F7FF;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.link{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    display: flex;
}
