@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat-Regular'),
    url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: local('Montserrat-SemiBold'),
    url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-Bold'),
    url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

html {
    box-sizing: border-box;
    height: 100%;
}

body{
    height: inherit;
    font-family: 'Montserrat-Regular', sans-serif;
    background-color: #F3F7FF;
    color: #08092B;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.link{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    display: flex;
}

.container{
    width: 1920px;
    margin: 0 auto;
}

.noLink{
    text-decoration: none;
    color: #08092B;
}

.bold{
    font-weight: bold;
}

.solid{
    border-bottom: 1px solid black;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
}

.color-black{
    color: black;
}

.noBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}