.institutionPage {
    width: 1140px;
}

.institutionPage_header {
    margin-top: 150px;
    margin-bottom: 74px;
}

.institutionPage-title {
    font-size: 58px;
    font-family: Montserrat-SemiBold;
    margin-bottom: 26px;
}

.btn-text {
    font-size: 18px;
}